<div class="h-screen w-screen flex flex-col justify-center items-center">
  <%= render partial: 'shared/button', locals: {label: 'ログイン', path: login_path, extra_classes: 'bg-green-500 hover:bg-green-700 '} %>
  <%= render partial: 'shared/button', locals: {label: '新規登録', path: sign_up_path, extra_classes: 'bg-red-500 hover:bg-red-700 '} %>
</div>
